.impowerBox .qrcode {width: 168px;}
/* .impowerBox .title {display: ;} */
.impowerBox .info {width: 168px;}
/* .status_icon {
  display: none} */
.impowerBox .status {
  text-align: center;
  color: #000;
}